@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

:root {
    --primary-color: #004d1a;
    --secondary-color: #E2DEDE;
    --accent1-color: #003311;
    --accent2-color: #006622; 
    --heading-font: 'outfit', serif;
    --paragraph-font: 'poppins', serif;

    --nav-background-color: #003311; 
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #006622; 
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

p{
    font-family: var(--heading-font);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header img {
    grid-column: 2/3;
}

nav {
    text-align: right;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: var(--accent1-color);
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    position: relative;
    color: white;
}


.hero img {
    height: 350px;
    width: 960px;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 3em;
    margin: 0 auto;
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    top: 30%;
    left: 8%;
    background-color: rgba(0, 51, 17, 0.8);
    border-radius: 10px;
    padding: 12px;
    color: white;
    max-width: 800px;
}

.hero article img {
    float: right;
    width: 220px;
    height: 190px;
    padding-left: 2px;
}

.float-right {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: auto;
}

.about-hero {
    position: relative;
    color: white;
}


.about-hero img {
    height: 350px;
    width: 960px;
}

.about-hero h1 {
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 3em;
    margin: 0 auto;
    color: var(--primary-color);
}

.about-hero article {
    position: absolute;
    top: 30%;
    left: 8%;
    background-color: rgba(0, 51, 17, 0.8);
    border-radius: 10px;
    padding: 12px;
    color: white;
    max-width: 800px;
}

.about-hero article img {
    float: right;
    width: 220px;
    height: 190px;
    padding-left: 2px;
}

.float-right {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 100px;
    height: auto;
}


section {
    padding: 20px 0;
    margin-top: 0px;
}

section h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
    margin: 0 auto;
}

footer {
    background-color: white;
    border-top: 1px solid;
    display: flex;
    align-content: center;
    text-align: center;
    margin: 5px;
}

footer p {
    margin: 60px 0;
    margin-left: 50px;
}

footer a {
    text-decoration: none;
    margin: 5px;
}

footer a img {
    width: 24px;
    height: 24px;
}

.sociallinks {
    display: flex;
    margin-top: 53px;
    margin-left: 50px;
    gap: 10px;
}

.img {
    float: right;
    width: 300px;
    height: auto;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.h2one {
    text-align: center;
}

.history {
    display: flex;
    justify-content: space-around;
}

.figures {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.figure1, .figure2, .figure3, .figure4, .figure5 {
    border: thin #c0c0c0 solid;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    max-width: 214px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    text-align: center;
    
}


figcaption {
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #222;
    color: #fff;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

figcaption a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-top: 20px;
    color: var(--secondary-color);
    font-size: larger;
    text-align: center;
    
}

figure img {
    max-width: 100%;
    max-height: 200px;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}


.figures {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.aboutfigure1, .aboutfigure2, .aboutfigure3, .aboutfigure4, .aboutfigure5 {
    border: thin #c0c0c0 solid;
    margin-right: 10px;
    display: inline-flex;
    flex-flow: column;
    padding: 10px;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 214px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    
}


.aboutfigure figcaption {
    display: flex;
    background-color: #222;
    color: #fff;
    padding: 3px;
    text-align: center;
    width: 160px;
}

.aboutfigure figcaption a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-top: 20px;
    color: var(--secondary-color);
    font-size: larger;
    
}

.aboutfigure img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 166px;
    max-height: 107px;
    
}


form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    font-size: 17px;
    margin-bottom: 50px;
  }

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
  }

legend {
    padding: 0.5rem;
    color: #007b22;
    font-size: 1.3em;
    
  }

label, input, button, select, textarea {
    font-family: outfit, Arial, sans-serif;
    
  }

label {
    text-align: left;
    padding-right: 1rem;
  }

input, select, textarea {
    padding: .5rem;
    font-size: 1.1rem;
    margin-top: 10px;
  }

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }


  button {
    margin: 1rem;
    background-color: #007b22;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }
  
button:hover {
    background-color: darkgreen;
  }


textarea {
    width: 100%;
    margin-top: 10px;
  }

.contact{
    float: left;
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: space-evenly;
    text-align: left;
    padding: 20px;
    border: 1px solid #777;
    border-radius: 10px;
    background-color: #d8d3d3;
    
}

.address{
    padding: 10px;
    margin: 0.5rem 0;
}

.phone{
    padding: 10px;
    margin: 0.5rem 0;
}

.email{
    padding: 10px;
    margin: 0.5rem 0;
}

.head{
    justify-items: left;
    color: var(--accent2-color);
    font-size: large;
}

.abia{
    padding-bottom: 30px;
    padding: 10px;
}

.aboutall{
    display: flex;
    flex-direction: column;
}

.iframe{
    flex: 2;
    float: right;
    justify-content: flex-end;

}

.reach{
    position: relative;
    bottom: 50%;
    left: 30%;
    font-size: 3em;
    margin: 0 auto;
    color: aliceblue;
}

span .abouth{
    color: white;
}

.hero article p{
    text-align: center;
    padding: 10px;
}

.circle-4 {
    width: 18px;
    height: 18px;
    background: #EDF0F4;
  }
.location-on-icon-2 {
    width: 6px;
    height: 8px;
    background: #9FAFC1;
  }


  .mdi--location::after {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7'/%3E%3C/svg%3E");
    padding: 2px;
    margin-right: 10px;
    vertical-align: middle;
  }

.line-md--email-twotone::after {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-opacity='0' d='M12 11L4 6H20L12 11Z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='1s' dur='0.15s' values='0;0.3'/%3E%3C/path%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-width='2'%3E%3Crect width='18' height='14' x='3' y='5' stroke-dasharray='64' stroke-dashoffset='64' rx='1'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.6s' values='64;0'/%3E%3C/rect%3E%3Cpath stroke-dasharray='24' stroke-dashoffset='24' d='M3 6.5L12 12L21 6.5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.6s' dur='0.4s' values='24;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    padding: 2px;
    margin-right: 10px;
    vertical-align: middle;
  }

  .ic--baseline-phone::after {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z'/%3E%3C/svg%3E");
    padding: 2px;
    margin-right: 10px;
    vertical-align: middle;
  }



.trips-hero {
    position: relative;
    color: white;
}

.trips-hero img {
    height: 350px;
    width: 960px;
}

.trips-hero h1 {
    position: absolute;
    top: 45%;
    left: 35%;
    font-size: 3em;
    margin: 0 auto;
    color: white;
    text-decoration: none;
}

.trips-hero article {
    position: absolute;
    top: 30%;
    left: 8%;
    background-color: rgba(0, 51, 17, 0.8);
    border-radius: 10px;
    padding: 12px;
    color: white;
    max-width: 800px;
}

.trips-hero article img {
    float: right;
    width: 220px;
    height: 190px;
    padding-left: 2px;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.3);
}

.figure3 {
    text-align: center;
}

.booking a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: xx-large;


}

.p1{
    white-space: pre-wrap;
}

.tripsbutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent2-color);
    color: white; 
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    width: 80%;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.tripsbutton:hover {
    background-color: var(--accent1-color); /* Darker background on hover */
}

.figures {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}



.tripsfigure1, .tripsfigure2, .tripsfigure3, .tripsfigure4, .tripsfigure5 {
    border: thin #c0c0c0 solid;
    box-shadow: 0 5px 10px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    max-width: 214px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    
}


.tripsfigure figcaption {
    display: flex;
    border-radius: 10px;
    background-color: var(--accent2-color);
    color: #fff;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.tripsfigure figcaption:hover {
    background-color: var(--accent1-color); /* Darker background on hover */
}

.tripsfigure figcaption a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-top: 20px;
    color: var(--secondary-color);
    font-size: larger;
    
}

.tripsfigure img {
    max-width: 100%;
    max-height: 200px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}

.h2s{
    border-radius: 10px;
}

.tripsadventure{
    margin-bottom: 20px;
}

table {
    width: 100%;  
    border-collapse: collapse;
    margin: 20px 0;
    margin-top: 40px;
    margin-bottom: 1px;
    font-family: var(--paragraph-font);
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
}

th, td {
    padding: 12px;  
    border: 1px solid #ddd;
    text-align: center; 
    font-size: 1em;
    color: var(--primary-color);
    
}

.dates{
    border-top-right-radius: 10px;
}

th {
    background-color: var(--accent1-color); 
    color: var(--nav-link-color); 
    font-weight: 700;
    font-family: var(--heading-font);
}

tr:nth-child(even) {
    background-color: var(--secondary-color);
}

caption {
    caption-side: top;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--accent2-color);
    font-family: var(--heading-font);
}

.tripcap{
    border-top-left-radius: 10px;
}

.tableh{
    text-align: center;
    margin-bottom: 40px;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 20px;
    padding: 20px;
    padding-top: 100px;
}

.content-grid article {
    background: #d6d5d5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.content-grid img {
    width: 100%;
    height: auto;
}

.adventure {
    max-height: 400px;
}

.adventure p{
    font-style: italic;
}

.experience{
    color: white;
    font-size: large;
}

.homehero {
    position: relative;
    color: white;
}


.homehero img {
    height: 350px;
    width: 960px;
}

.homehero h1 {
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 3em;
    margin: 0 auto;
    color: var(--secondary-color);
}

.homehero article {
    position: absolute;
    top: 25%;
    left: 8%;
    background-color: rgba(0, 51, 17, 0.8);
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    padding-bottom: 20px;
    color: white;
    max-width: 800px;
    max-height: 200px;
}

.homehero article img {
    float: right;
    width: 220px;
    height: 190px;
    padding-left: 2px;
}

.homehero article p{
    margin-top: 5px;
    text-align: center;
}

.homehero article a{
    margin-top: 5px;
}

.homehero article h2{
    color: white;
    text-align: center;
}

.homebutton {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent2-color);
    color: white; 
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    width: 80%;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 45px;
}

.homebutton:hover {
    background-color: var(--secondary-color);
    color: #003311;
    border-radius: 10px;
}

.offerings img{
    margin-top: 15px;
    border-radius: 10px;
}

.adventure img{
    margin-top: 15px;
    border-radius: 10px;
}

.form-adventure h2{
    text-align: center;
}

.form-adventure p{
    text-align: center;
}